*{
  margin:0;
  font-family: Arial;
  box-sizing:border-box;
}

.navbar{
  background-color: #0f1111;
  height:60px;
  width: 100%;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo{
  height:50px;
  width:90px;
}

.logo{
  background-image:url("Amazon-Logo.png");
  background-size: contain;
  height:50px;
  width: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
}

.border{
  border:1.5px solid transparent;
}

.border:hover{
  border:1.5px solid white;
}

/**Box2**/

.p1{
  color: #cccccc;
  font-size:0.9em;
  margin-left:20px;
}
.p2{
  font-size: 1rem;
}
.nav-location{
  display:flex;
  align-items: center;
  padding-top:5px;
  padding-left: 0;
}
.location{
  margin-left:10px;
}

/* Box3 */

.nav-search
{
  display: flex;
  width:700px;
  height: 40px;
  border-radius: 4px;
  margin-left:15px;
}
.nav-select{
  background-color: #f3f3f3;
  width:40px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border:none;
}
.nav-input{
  width:100%;
  border:none;
  font-size:1rem;
}
.search-icon{
  width: 45px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #f8bd19;
  color:black;
  font-size: 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nav-search:hover{
  border: 1.5px solid #FFA500;
  
}
/* Box4 */

.flag{
  font-size:1.2rem;
  background-color: transparent;
  border:none;
  color:white;
  font-weight: 900;
}
.flag-box{
  margin-left:15px;
  height:40px;
  display:flex;
}

/* Box5 */

.text{
  font-size: 14px;
  margin-left: 4.5px;
}
.lists{
  font-size: 20px;
  font-weight: 700;
}
#id1{
  background-color: transparent;
  border:none;
  color:white;
  font-size: 18px;
  font-weight: 700;
}
.nav-list{
  margin-left: 15px;
}

/* Box 5 */
.returns{
  font-size: 14px;
  margin-right: 25px;
}
.nav-returns{
  margin-left: 15px;
  width:130px;
  text-align: center;
}

/*Box 6 */  

.nav-cart i{
  font-size:28px;
}
.nav-cart{
  font-size: 20px;
  font-weight: 700;
  display: flex;
}
#box{
  margin-top:10px;
}

/* Panel */

.panel{
  background-color: #222f3d;
  height:40px;
  display: flex ;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.anchor-lists{
  color:white;
  font-size:1rem;
  font-weight: 500;
  margin-left:20px;
  text-decoration: none;
}

.last{
  color:#ffffff;
  font-size:1rem;
  font-weight: 500;
  text-decoration: none;
  margin-right:22px;
}

.anchor-border:hover{
  border:1.5px solid white;
}

/* Hero Section */

.hero-section{
  background-image: url("Hero-image.jpg");
  height:350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


.hero-msg{
  background-color: white;
  color:black;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width:95%;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.hero-msg a{
  text-decoration: none;
  color:#007185;
  font-size: 1rem; 
  margin-left:5px;
}